<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.title %></title>
  <meta name="description" content="Cindy's Blog">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  
  <div class="container">   

    <header class="header">
      <a href="/admin" class="header-logo">Cindy's Blog Admin</a>

      <nav class="header-nav">
        <ul>
          <!-- <li>
            <a href="/home">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="#">Post</a>
          </li>
          <li>
            <a href="#">Board</a>
          </li> -->
        </ul>
      </nav>

    </header>
 
    <main class="main">
      <%- body %>
    </main>
  </div>  

</body>

<footer class="footer">
  copyright © cindy 2025
</footer>

</html>