<h1>ABOUT</h1>

<img src="/img/about-hero.jpg" alt="self introduce image" class="hero-image" width="840" height="400">

<section class="articles">
    <h2 class="articles-heading">신디가 누구인가요?</h2>
    <ul>
        어디에선가 서비스 기획과 PM을 하고 있는 사람입니다.
        <br>원래는 쓰고 있던 영어이름이 다른건데, 지금 일하고 있는 곳에서 동명이인 있다고 해서 강제로 개명당했습니다.
        <br>절 이전부터 알고 계시던 분들 놀라지마세요(?!)
        <br>위에 있는 그림은 제 추구미(...)이고, 실제와 매우 다릅니다. (Adobe가 그려줬어요, Adobe 구독하는 맛 나네)
        <br>머리색깔은 비슷한거 같네요. 최근에 파란색으로 염색했거든요. 다음에 할 머리색 추천 받습니다(?)
    </ul>
    <h2 class="articles-heading">기획자인데 왜 개발블로그를 만들었죠?</h2>
    <ul>
        처음엔 UI 테스트 직접 하기 귀찮아서 자동화 테스트 스크립트를 짤려고 Node.js 공부를 시작했는데...
        <br>정신 차리고 보니까 이걸 만들고 있었습니다.
        <br>뭐, 이왕 하는거 형태가 보이면 좋겠다 싶어서 했는데 잘 한거 같네요.
        <br>만들면서 API 작동 원리나 서버도 같이 공부할 수 있어서 개인적으로는 기획자도 개발에 도전해보면 좋을것 같다는 생각이 듭니다.
    </ul>
    <h2 class="articles-heading">개발공부 하면서 힘들었거나 인상깊었던 점이 있나요?</h2>
    <ul>
        일단 이 세상에 존재하는 모든 개발자분들, 제가 존경합니다. 앞으로 더욱 명확한 기획서를 쓰도록 하겠습니다.
        <br>직접 해보니까 내가 기획서에다가 두세줄 적는걸로 이만큼 고민해서 코딩하시는구나 라고 느꼈습니다.
        <br>그리고 동기랑 비동기 배울때 제일 멘탈 털렸습니다...머리로는 이해했는데 코드로 풀려고 하니까 어렵더라구요.
        <br>인상깊었던 점이라고 하기에는 애매한데...
        <br>개발 공부 한다고 하니까 주변의 모든 개발자들이 눈을 빛내는 것을 보면서 이것은 마치 먹이를 노리는 하이에나(...) 같다고 느꼈습니다.
        <br><del>저 기획할거에요...개발자 안한다니까...</del>
        <br>언젠가는 반대로 개발자에게 기획서를 써보라고 하고 싶다는 생각도 드네요. 뼈때리는 기획서 리뷰가 뭔지 보여주고 싶습니다(?)
    </ul>
    <h2 class="articles-heading">이 블로그를 만들기까지 도움받았거나 고마움을 표하고 싶은 분이 있나요?</h2>
    <ul>
        제가 터미널창에 뭐 점하나만 찍어도 잘한다 잘한다 해주시는 S모님, 진짜 제 자존감 지킴이...그저 빛...
        <br>다 때려치고 싶을때 항상 잘하고 계신다고 해주셔서 앱 크래시가 나도 버틴거 같습니다. 감사해요 진짜...ㅠㅠ
        <br>담에 진짜 집 놀러오시면 오꼬노미야끼 해드릴께요, 이자까야 엽니다(?)
        <br>
        <br>(지금은 혼자서 자유를 찾아 떠나셨는데 - <del>탈주닌자</del>)
        <br>그리고 회사에 질문을 하나 하면 퇴근도 안하시고 기초 지식에 연관된 CS 지식까지 평균 2시간 반 넘게 매일 특강 하셨던 K모님...
        <br>덕분에 단기간에 여기까지 왔다고 생각합니다.
        <br>언제나 그러셨죠...<b>넌 아직 충분한 시간을 들이지 않았다고.</b> 그 말에 오기나서 계속 했던것 같습니다. (._. )?!
    </ul>
    <br>
    <h3>그럼 적당히 둘러보시고, BOARD에 작은 응원과 관심을 던져주면 신디가 좋아할겁니다.<br>개발 재밌어요, 다 같이 해봐요 ^^ <del>(나만 죽을 수 없다)</del></h3>
</section>